.Container {
  font-family: "Montserrat Alternates", sans-serif;
  max-width: 600px;
  margin: 30px auto;
}

.App {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 3px 1px 12px#929191;
  background-image: linear-gradient(to top, #d4d7f8 0%, white 100%);
}
.App:hover {
  box-shadow: 10px 5px 10px rgb(177, 150, 116);
  transition: all 1s;
}

h1 {
  color: #878787;
  font-size: 40px;
  font-weight: 100;
  line-height: 50px;
  margin-top: 15px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
}
li:first-letter {
  text-transform: capitalize;
}
