.first-overview {
  margin-bottom: 20px;
}
.Overview canvas {
  margin: 10px auto;
  margin-top: -4px;
}
.Overview .temp {
  color: #6b6a6a;
  font-size: 67px;
  line-height: 1;
  font-weight: 400;
  margin-left: 8px;
}
.Overview .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}

/* .weather-forecast {
  margin-top: 10px;
}
.weather-forecast h3 {
  color: #878787;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
} */
